:root {
  --grey: #1e1e1e;
  --lightGrey: #aeaeae;
  --lightBlue: rgb(116, 199, 235);
  --knallViolett: rgb(108, 31, 126);
}
body{
  background-color: var(--grey);
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  color: var(--lightBlue);
  text-decoration: underline;
  margin-bottom: 1em;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
}
button {
  background-color: var(--lightGrey);
  min-height: 25px;
  min-width: 25px;
  border-radius: 2px;
  margin: 1px auto;
  vertical-align: top;
  flex-basis: 33.333%;
}