:root {
  --grey: #1e1e1e;
  --lightGrey: #aeaeae;
  --lightBlue: rgb(170, 210, 220);
  --darkBlue: rgb(20, 20, 100);
  --darkRed: rgb(100, 20, 20);
  --transparentGrey: rgba(100, 100, 100, 0.95);
}
body {
  background-color: var(--grey);
  margin: 0;
}
#app {
  background: linear-gradient(315deg, var(--darkRed) 0%, rgb(20, 20, 20) 70%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#game main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gameOver {
  position: absolute;
  z-index: 1;
  background: var(--transparentGrey);
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px 2px rgb(100, 20, 20);
  color: white;
}
#gameOver > h1 {
  color: var(--darkRed);
  padding: 5px;
  background-color: grey;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}
#gameOver > button {
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  color: var(--darkBlue);
  transition: 0.3s;
}
#gameOver > button:hover {
  background-color: var(--lightBlue);
}
header {
  color: var(--lightBlue);
  text-decoration: underline;
  margin-bottom: 1em;
}
main section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
}
button {
  background-color: var(--lightGrey);
  min-height: 25px;
  min-width: 25px;
  border-radius: 2px;
}
#board > button {
  vertical-align: top;
  flex-basis: 33.333%;
  margin: 1px auto;
}
#history {
  border-style: groove;
  width: 11rem;
  background-color: var(--transparentGrey);
}
#history > ol {
  display: flex;
  flex-direction: column;
}
button:disabled {
  background-color: var(--transparentGrey);
  color: white;
}
.visible {
  visibility: visible;
}
.collapsed {
  visibility: collapse;
}
